{% extends 'mailing/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="col">
                    {% csrf_token %}
                    Введите адрес электронной почты:
                    {{ form.email }}
                    <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}